<ng-template [ngIf]="_pageType">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="text-gray-800">{{ this._pageData.pageTitle | titlecase}}
            <div *ngIf="_pageType=='index'" class="d-inline">
                <button (click)="onCopyCollectionData()" class="copy-btn btn btn-success rounded-circle"
                    [class.disabled]="_isCopied"></button>
                <span class="ml-3 lead" [class.d-none]="!_isCopied">Copied!</span>
            </div>
        </h4>
        <button (click)="onBtnClick()" [ngClass]="getBtnClass()">{{ this._pageData.btn.content | titlecase}}</button>
    </div>
</ng-template>