<div class="admin-manage-page">
    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-12 ">
            <app-page-title [controller]="_controller" pageType="index"></app-page-title>
        </div>
    </div>

    <!-- FILTER -->
    <div *ngIf="_hasData == true" class="row mt-3">
        <div class="col-12">
            <app-filter [dbSelectData]="_dbSelectFilterData" [filterCount]="_filterCount" [controller]="_controller">
            </app-filter>
        </div>
    </div>

    <!-- LIST OF ITEMS -->
    <div class="row mt-3">
        <div class="col-12">
            <table class="admin-main-table table table-striped table-responsive-md">
                <thead *ngIf="this.getTotalItemSelected() > 0" app-thead-action-bar [controller]="_controller"
                    [totalItemsSelected]="getTotalItemSelected()" (submittedAction)="onSubmittedAction($event)"
                    (onCancel)="onCheckAll(false)"> </thead>

                <thead *ngIf="this.getTotalItemSelected() == 0" (onTheadCheckBoxCheck)="onCheckAll($event)"
                    app-thead-admin-main-table [controller]="_controller" [thead-data]="
                        [
                            {
                                isCheckAll: true
                            }, {
                                title: 'User info',
                                field: 'username'
                            }, {
                                title: 'group',
                                field: 'group'
                            }, {
                                title: 'status',
                                field: 'status'
                            }, {
                                title: 'created',
                                field: 'created'
                            }, {
                                title: 'modified',
                                field: 'modified'
                            }, {
                                title: 'action'
                            }
                        ] ">
                </thead>
                <tbody class="admin-tbody">
                    <tr *ngFor="let item of _items; let i = index" [attr.data-key]="item['$key']">
                        <th class="align-middle" scope="row">
                            <app-admin-table-input (onSelect)="onSelect($event)"
                                [inputData]="{type: 'table-row-checkbox', item: item}">
                            </app-admin-table-input>
                        </th>
                        <td class="align-middle">
                            <div>
                                <div> <strong> Username: </strong> <span [innerHTML]="item.username.value"></span>
                                </div>
                                <div> <strong> Email: </strong> <span [innerHTML]="item.email.value"></span> </div>
                                <div> <strong> Full name: </strong> <span [innerHTML]="item.fullName.value"></span>
                                </div>
                            </div>
                            <p class="mt-2"> <img [src]="item.thumb" class="admin-main-table-img rounded"
                                    [alt]="item.username.value">
                            </p>
                        </td>

                        <td class="align-middle">
                            <app-field-select [controller]="_controller" [field]="'group'"
                                [value]="item?.group.name.value" [dbSelectDataBehavior]="_dbSelectDataBehavior"
                                (onChange)="onGroupChange(item, $event)">
                            </app-field-select>
                        </td>
                        <td class="align-middle">
                            <app-field-button [field]="'status'" [item]="item" (onClick)="onStatusClick($event)">
                            </app-field-button>
                        </td>

                        <td class="align-middle" [innerHTML]="_helperService.showHistory(item.created)"></td>
                        <td class="align-middle" [innerHTML]="_helperService.showHistory(item.modified)"></td>

                        <td class="align-middle" [appActionButtons]="_controller" [item]="item"
                            (btnClick)="onActionClick($event)"> </td>
                    </tr>

                    <tr *ngIf="_items.length == 0" app-table-empty-message></tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- PAGINATION -->
    <div *ngIf="_items.length > 0" class="row mt-3">
        <div class="col-12">
            <app-pagination [showTitle]="false" [showLastPage]="true" [controller]="_controller"
                [paginationBehavior]="_pagination.behaviorSubject"></app-pagination>
        </div>
    </div>