<div class="filter-widget">
    <app-x-title [title]="'filter'" [id]="'filter-container'"></app-x-title>
    <div class="collapse show" id="filter-container">
        <div class="row py-3">

            <!-- FILTER BUTTONS -->
            <div class="col-lg-6">
                <app-filter-buttons [filterCount]="_filterCount" [controller]="_controller"></app-filter-buttons>
                <app-filter-selects [dbSelectData]="_dbSelectData" [controller]="_controller"></app-filter-selects>
            </div>

            <!-- SEARCH -->
            <div class="col-lg-6 mt-2 mt-lg-0">
                <app-search [controller]="_controller"></app-search>
            </div>
        </div>
    </div>
</div>