<div class="container-fluid">

    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-12">
            <h4 class="text-gray-800">Item Page</h4>
        </div>
    </div>

    <!-- FILTER -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="filter-widget">
                <div class="d-flex justify-content-between">
                    <h4>Filter</h4>
                    <button data-toggle="collapse" data-target="#contentId" class="btn btn-light chevron-btn">
                        <i class="far fa-chevron-down fa-lg text-dark on-click-switch-chevron"></i>
                    </button>
                </div>
                <div class="collapse" id="contentId">
                    <div class="row">

                        <!-- DATA-STATUS -->
                        <div class="col-lg-6">
                            
                        </div>

                        <!-- SEARCH -->
                        <div class="col-lg-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- LIST OF ITEMS -->
    <div class="row mt-3">
        <div class="col-12">
            <table id="main-table" class="table table-tripped table-responsive-md">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th> <a href=""> Name </a> </th>
                        <th> <a href="">Created</a> </th>
                        <th> <a href="">Modified</a> </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Item 1</td>
                        <td>07/07/2020</td>
                        <td>07/07/2020</td>
                        <td>
                            <div>
                                <a href="" class="btn btn-success btn-sm rounded-circle"><i class="far fa-pen"></i></a>
                                <a href="" class="btn btn-danger btn-sm ml-1 rounded-circle"><i
                                        class="far fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- PAGINATION -->


</div>