<div class="admin-manage-page">
    <!-- PAGE TITLE -->

    <div class="row">
        <div class="col-12 ">
            <app-page-title [controller]="_controller" pageType="index"></app-page-title>
        </div>
    </div>

    <!-- FILTER -->
    <div *ngIf="_hasData == true" class="row mt-3">
        <div class="col-12">
            <app-filter [controller]="_controller"></app-filter>
        </div>
    </div>

    <!-- LIST OF ITEMS -->
    <div class="row mt-3">
        <div class="col-12">
            <table class="admin-main-table table table-striped table-responsive-sm">
                <thead app-thead-admin-main-table [controller]="_controller" [thead-data]="
                        [
                            {
                                title: '#'
                            }, {
                                title: 'name',
                                field: 'name'
                            }, {
                                title: 'status',
                                field: 'status'
                            }, {
                                title: 'created',
                                field: 'created'
                            }, {
                                title: 'modified',
                                field: 'modified'
                            }, {
                                title: 'action'
                            }
                        ] "> </thead>
                <tbody>
                    <ng-template [ngIf]="_items != null">
                        <tr *ngFor="let item of _items; let i = index" [attr.data-key]="item['$key']">
                            <th class="align-middle" scope="row">{{ i+1 }}</th>
                            <td class="align-middle">
                                <div>
                                    <div> <strong> Name: </strong> <span [innerHTML]="item.name.value"></span> </div>
                                </div>
                                <p> <img [src]="item.thumb" class="admin-main-table-img rounded"
                                        [alt]="item.name.value"> </p>
                            </td>
                            <td class="align-middle" (click)="onStatusClick(item)"
                                [innerHTML]="_helperService.showStatusButton(item.status)"> </td>

                            <td class="align-middle" [innerHTML]="_helperService.showHistory(item.created)"></td>
                            <td class="align-middle" [innerHTML]="_helperService.showHistory(item.modified)"></td>

                            <td class="align-middle" [appActionButtons]="_controller" [item]="item"
                                (btnClick)="onActionClick($event)"> </td>
                        </tr>
                    </ng-template>

                    <ng-template [ngIf]="_items != null">
                        <tr *ngIf="_items.length == 0" app-table-emtpy-message></tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>

    <!-- PAGINATION -->
    <ng-template [ngIf]="_items != null">
        <div *ngIf="_items.length > 0" class="row mt-3">
            <div class="col-12">
                <app-pagination></app-pagination>
            </div>
        </div>
    </ng-template>