<div *ngIf="isShow()" class="pagination-widget">
    <ng-template [ngIf]="_showTitle">
        <app-x-title [title]="'pagination'" [id]="'pagination-container'"></app-x-title>
    </ng-template>
    <div class="collapse show" id="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="isDisabled('start')">
                    <button (click)="goTo(1)" class="page-link">Start</button>
                </li>
                <li class="page-item" [class.disabled]="isDisabled('prev')">
                    <button class="page-link" (click)="goTo(_paginationService._currentPage - 1)">
                        <i class="far fa-chevron-double-left"></i>
                    </button>
                </li>
                <li *ngFor="let page of _paginationService._pageArr" class="page-item"
                    [class.active]="page == _paginationService._currentPage"><button (click)="goTo(page)"
                        class="page-link">{{ page }}</button></li>

                <!-- SHOW LAST PAGE -->
                <li class="page-item" *ngIf="isShowLastPage()">
                    <button (click)="goTo(_paginationService._totalPage)"
                        class="page-link">{{ getLastPageContent() }}</button>
                </li>
                <!-- END SHOW LAST PAGE -->

                <li class="page-item" [class.disabled]="isDisabled('next')">
                    <button class="page-link" (click)="goTo(_paginationService._currentPage + 1)">
                        <i class="far fa-chevron-double-right"></i>
                    </button>
                </li>

                <!-- NOTE: SHOW END BUTTON (DEFAULT): NOT SHOW IF SHOW LAST PAGE IS ENABLED -->
                <li *ngIf="!_showLastPage" class="page-item" [class.disabled]="isDisabled('end')">
                    <button (click)="goTo(_paginationService._totalPage)" class="page-link">End</button>
                </li>
                <!-- END NOTE -->

            </ul>
        </nav>
    </div>
</div>