<tr>
    <ng-template ngFor let-head [ngForOf]="_data">
        <th class="no-wrap align-middle" [width]="getWidth(head.width)" [class]="getClass(head.classes)">
            <ng-template [ngIf]="head.hasSort">
                <a (click)="onSortClick($event, head.field)" href="#">
                    <span> {{ head.title | titlecase }} </span>
                    <ng-template [ngIf]="_clientSort.sort_field == head.field">
                        <span [innerHTML]="getSortIcon()"></span>
                    </ng-template>
                </a>
            </ng-template>

            <ng-template [ngIf]="!head.hasSort">
                <ng-template [ngIf]="head.html">
                    <span [innerHTML]="head.title"></span>
                </ng-template>

                <ng-template [ngIf]="head.isCheckAll">
                    <app-admin-table-input (onSelect)="onTheadCheckBoxCheck($event)"
                        [inputData]="{type: 'thead-checkbox'}">
                    </app-admin-table-input>
                </ng-template>

                <ng-template [ngIf]="!head.html">
                    {{ head.title | titlecase }}
                </ng-template>
            </ng-template>
        </th>
    </ng-template>
</tr>