<ng-template [ngIf]="!_forceMessage">
    <!-- FORM CONTROL -->
    <ng-template [ngIf]="_control">
        <ng-template [ngIf]="isShow()">
            <!-- NORMAL MESSAGE -->
            <p *ngIf="_messageType == 'string'">
                <span class="badge badge-danger">{{getMessage() | ucfirst}}</span>
            </p>

            <!-- PASSWORD MESSAGE -->
            <div *ngIf="_messageType == 'array'">
                <span *ngFor="let item of getMessage()" [ngClass]="getMessageClassObj(item.status)">
                    <i [ngClass]="getStatusSymbolClassObj(item.status)"></i>&nbsp; {{item.message }}
                </span>
            </div>
        </ng-template>

    </ng-template>

    <!-- FORM GROUP -->
    <ng-template [ngIf]="_group">
        <p *ngIf="isShow('group') && getMessage('group')"><span
                class="badge badge-danger">{{getMessage('group') | ucfirst}}</span></p>
    </ng-template>
</ng-template>


<!-- FORCE MESSAGE -->
<ng-template [ngIf]="_forceMessage">
    <p><span class="badge badge-danger">{{_forceMessage | ucfirst}}</span></p>
</ng-template>