<div class="">
    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-12 ">
            <app-page-title [controller]="_controller" pageType="form"></app-page-title>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="row mt-lg-5">
        <div class="col-lg-6 offset-lg-3">
            <div *ngIf="_formProfile" [appAdminForm]="_formProfile" [currentItem]="_currentItem" [formData]="[
                    {
                        type: 'general',
                        inputType: 'text',
                        name: 'title',   
                        displayName: 'title'
                    }, {
                        type: 'general',
                        inputType: 'text',
                        name: 'author',   
                        displayName: 'author'
                    }, {
                        type: 'general',
                        inputType: 'text',
                        name: 'description',   
                        displayName: 'description'
                    }, {
                        type: 'general',
                        inputType: 'number',
                        name: 'price',   
                        displayName: 'price'
                    }, {
                        type: 'general',
                        inputType: 'number',
                        name: 'saleOff',   
                        displayName: 'sale off'
                    }, {
                        type: 'select',
                        name: 'special',   
                        displayName: 'special'
                    }, {
                        type: 'select',
                        name: 'status',   
                        displayName: 'status'
                    }, {
                        type: 'file',
                        name: 'thumb',   
                        displayName: 'thumb'
                    }, {
                        type: 'submit',
                        displayName: 'submit'
                    }
                ]" [selectedFiles]="_selectedFiles" (_onSelectedFiles)="onSelectedFile($event)"
                (onSubmit)="onSubmitForm()"></div>
            <!-- PROGRESS BAR -->
            <div *ngIf="_uploadProgress!=null" [appProgressBar]="_uploadProgress" title="Saving"> </div>
        </div>
    </div>

</div>