<ng-template ngFor let-filter [ngForOf]="_filters">
    <div class="row mb-1">
        <div class="col-3">{{ filter | titlecase}}</div>
        <div class="col-9">
            <div class="btn-group btn-group-sm">
                <ng-template ngFor let-btnType [ngForOf]="this.getFilterOptions(filter)">
                    <button (click)="onBtnClick(filter, btnType)"
                        [class]="getBtnData(filter, btnType).classes">{{getBtnData(filter, btnType).content}}
                        <span class="badge badge-light">{{ getCountNumber(filter, btnType)}}</span></button>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>