<div class="row">
    <div class="col-3">Status</div>
    <div class="col-9">
        <div class="btn-group btn-group-sm">
            <a href="" class="btn btn-info">Active</a>
            <a href="" class="btn btn-secondary">In active</a>
        </div>
    </div>
</div>

<div class="row mt-1">
    <div class="col-3">Display</div>
    <div class="col-9">
        <div class="btn-group btn-group-sm">
            <a href="" class="btn btn-info">Yes</a>
            <a href="" class="btn btn-secondary">No</a>
        </div>
    </div>
</div>