<form *ngIf="_formProfile" [formGroup]="_formProfile" (ngSubmit)="onSubmitForm()" action="#">
    <ng-template ngFor let-input [ngForOf]="_formData">
        <div [ngSwitch]="input.type" class="form-group row">
            <label *ngIf="input.type!='submit'" [for]="input.name"
                [class]="getClass('label')">{{ input.displayName|titlecase }}</label>

            <!-- GENERAL TYPE FOR INPUT TYPE: text, password, number, ... -->
            <ng-template [ngSwitchCase]="'general'">
                <input [type]="input.inputType" [class]="getClass('input')" [id]="input.name"
                    [formControlName]="input.name">
            </ng-template>

            <!-- SELECT TYPE -->
            <ng-template [ngSwitchCase]="'select'">
                <select [class]="getClass('select')" [id]="input.name" [formControlName]="input.name">
                    <option value="" disabled selected>Select status</option>
                    <option *ngFor="let value of _helperService.getConf_selectData()[input.name]" [value]="value">
                        {{_helperService.getConf_btnTemplate()[input.name][value].content}}
                    </option>
                </select>
            </ng-template>

            <!-- FILE TYPE -->
            <ng-template [ngSwitchCase]="'file'">
                <div class="custom-file" [class]="getClass('fileContainer')">
                    <input type="file" [class]="getClass('fileInput')" [id]="input.name" [formControlName]="input.name"
                        accept="image/*" (change)="onFileChange($event)">
                    <label [class]="getClass('fileInputLabel')"
                        [for]="input.name">{{ _helperService.getConf_text('chooseFile') | ucfirst}}</label>
                </div>
                <p *ngIf="_currentItem.thumb">
                    <img [src]="_currentItem.thumb" [alt]="input.displayName+' image'" class="img-fluid rounded">
                </p>
            </ng-template>

            <!-- SUBMIT TYPE -->
            <ng-template [ngSwitchCase]="'submit'">
                <input type="submit" [class]="getClass('submit')" [value]="input.displayName"
                    [disabled]="!isFormValid()">
            </ng-template>
        </div>
    </ng-template>
</form>