<!-- 
    with each input name will has prefix '_', because ck editor not access id as description, but 
    in our project has description field
 -->

<form *ngIf="_formProfile" [formGroup]="_formProfile" (ngSubmit)="onSubmitForm()" action="#">
    <ng-template ngFor let-input [ngForOf]="_formData">
        <div [ngSwitch]="input.type" class="form-group row">

            <label *ngIf="input.type!='submit'" [for]="'_'+input.name"
                [class]="getClass('label').classes">{{ input.displayName | titlecase }}</label>

            <!-- GENERAL TYPE FOR INPUT TYPE: text, password, number, ... -->
            <ng-template [ngSwitchCase]="'general'">
                <div [class]="getClass('input').containerClasses">

                    <!-- NUMBER INPUT -->
                    <ng-template [ngIf]="input.inputType =='number'">
                        <!-- Input NO option params -->
                        <input *ngIf="!input.options" [type]="input.inputType" [class]="getClass('input').classes"
                            [id]="'_'+input.name" [formControlName]="input.name"
                            [attr.min]="getFormParam(input.name, 'min')" [attr.step]="getFormParam(input.name, 'step')"
                            [attr.max]="getFormParam(input.name, 'max')">
                        <!-- End input NO option params -->

                    </ng-template>

                    <!-- OTHER INPUT -->
                    <ng-template [ngIf]="input.inputType !='number'">
                        <!-- Input NO option params -->
                        <input *ngIf="!input.options" [type]="input.inputType" [class]="getClass('input').classes"
                            [id]="'_'+input.name" [formControlName]="input.name">
                        <!-- End input NO option params -->

                        <!-- Input HAS option params -->
                        <input *ngIf="input.options" (keyup)="onKeyup($event, input.name, input.options)"
                            [type]="input.inputType" [class]="getClass('input').classes" [id]="'_'+input.name"
                            [formControlName]="input.name">
                        <!-- End input HAS option params -->
                    </ng-template>

                    <ng-template [ngIf]="input.isPasswordConfirmed">
                        <app-show-error-message [field]="input.name" [displayName]="input.displayName"
                            [group]="_formProfile">
                        </app-show-error-message>
                    </ng-template>

                    <ng-template [ngIf]="!input.isPasswordConfirmed">
                        <app-show-error-message [displayName]="input.displayName"
                            [control]="_formProfile.controls[input.name]">
                        </app-show-error-message>
                    </ng-template>
                </div>
            </ng-template>

            <!-- TEXTAREA TYPE-->
            <ng-template [ngSwitchCase]="'textarea'">

                <div [class]="getClass('textarea').containerClasses">

                    <ckeditor [editor]="_editor" [data]="_formProfile.controls[input.name].value" [id]="'_'+input.name"
                        (ready)="onReady($event)" (change)="onEditorChange($event)"> </ckeditor>

                    <app-show-error-message [displayName]="input.displayName"
                        [control]="_formProfile.controls[input.name]">
                    </app-show-error-message>
                </div>
            </ng-template>

            <!-- SELECT TYPE -->
            <ng-template [ngSwitchCase]="'select'">
                <div [class]="getClass('select').containerClasses">
                    <select [class]="getClass('select').classes" [id]="'_'+input.name" [formControlName]="input.name">
                        <option value="" disabled selected>{{getDefaultSelectContent(input.name) | ucfirst }}</option>
                        <option *ngFor="let value of _helperService.getConf_selectData()[input.name]" [value]="value">
                            {{_helperService.getConf_btnTemplate()[input.name][value].content}}
                        </option>
                    </select>
                    <app-show-error-message [displayName]="input.displayName"
                        [control]="_formProfile.controls[input.name]">
                    </app-show-error-message>
                </div>
            </ng-template>

            <!-- FILE TYPE -->
            <ng-template [ngSwitchCase]="'file'">

                <!-- NO CROPPER -->
                <ng-template [ngIf]="!input.hasCropper">
                    <div class="custom-file" [class]="getClass('fileInput').containerClasses">
                        <input type="file" [class]="getClass('fileInput').classes" [id]="'_'+input.name"
                            [formControlName]="input.name" accept="image/*" (change)="onFileChange($event)">
                        <label [class]="getClass('fileInput').labelClasses"
                            [for]="input.name">{{ _helperService.getConf_text('chooseFile') | ucfirst}}</label>
                        <app-show-error-message [displayName]="input.displayName"
                            [control]="_formProfile.controls[input.name]">
                        </app-show-error-message>
                    </div>
                </ng-template>

                <!-- HAS CROPPER -->
                <ng-template [ngIf]="input.hasCropper">
                    <div class="custom-file" [class]="getClass('fileInput').containerClasses">
                        <input type="file" [class]="getClass('fileInput').classes" [id]="'_'+input.name"
                            [formControlName]="input.name" accept="image/*" (change)="fileChangeEvent($event)" />

                        <label [class]="getClass('fileInput').labelClasses"
                            [for]="input.name">{{ _helperService.getConf_text('chooseFile') | ucfirst}}</label>

                        <app-show-error-message [displayName]="input.displayName"
                            [control]="_formProfile.controls[input.name]">
                        </app-show-error-message>
                    </div>
                    <div class="col-12 mt-3 cropper-container d-flex justify-content-center">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 3" format="png" (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"></image-cropper>
                    </div>
                    <button class="btn btn-primary" (click)="onSubmitCopperImage()">Submit image</button>

                </ng-template>

                <!-- THUMB AVAILABLE -->
                <p *ngIf="_currentItem.thumb" class="mt-5">
                    <img [src]="_currentItem.thumb" [alt]="input.displayName+' image'" class="img-fluid rounded">
                </p>
            </ng-template>

            <!-- SUBMIT TYPE -->
            <ng-template [ngSwitchCase]="'submit'">
                <input type="submit" [class]="getClass('submit').classes" [value]="input.displayName"
                    [disabled]="!isFormValid()">
            </ng-template>
        </div>
    </ng-template>
</form>