<!-- 
    For each input name will has prefix '_', because ck editor not access id as description, but 
    in our project has description field
 -->

<form *ngIf="_formProfile" [formGroup]="_formProfile" (ngSubmit)="onSubmitForm()" action="#">
    <ng-template ngFor let-input [ngForOf]="_formData">
        <div [ngSwitch]="input.type" class="form-group row">

            <!-- LABEL -->
            <label *ngIf="input.type!='submit'" [for]="'_'+input.name"
                [class]="getClass('label').classes">{{ input.displayName | titlecase }}</label>

            <!-- GENERAL TYPE FOR INPUT TYPE: text, password, number, ... -->
            <ng-template [ngSwitchCase]="'general'">
                <div [class]="getClass('input').containerClasses">

                    <!-- NUMBER INPUT -->
                    <ng-template [ngIf]="input.inputType =='number'">
                        <input *ngIf="!input.options" [type]="input.inputType" [class]="getClass('input').classes"
                            [id]="'_'+input.name" [formControlName]="input.name"
                            [attr.min]="getFormParam(input.name, 'min')" [attr.step]="getFormParam(input.name, 'step')"
                            [attr.max]="getFormParam(input.name, 'max')">
                    </ng-template>

                    <!-- OTHER INPUT -->
                    <ng-template [ngIf]="input.inputType !='number'">

                        <!-- INPUT NO OPTION PARAMS -->
                        <input *ngIf="!input.options" [type]="input.inputType"
                            [class]="getSpecialClass(input.name) + ' ' + getClass('input').classes"
                            [id]="'_'+input.name" [formControlName]="input.name">

                        <!-- INPUT HAS OPTION PARAMS -->
                        <input *ngIf="input.options" (keyup)="onInputHasOptionsKeyup($event, input.name, input.options)"
                            [type]="input.inputType" [class]="getClass('input').classes" [id]="'_'+input.name"
                            [formControlName]="input.name">
                    </ng-template>

                    <!-- SHOW ERROR MESSAGE -->
                    <ng-template [ngIf]="!input.isPasswordConfirmed">
                        <app-show-error-message [displayName]="input.displayName" [field]="input.name"
                            [control]=" _formProfile.controls[input.name]">
                        </app-show-error-message>
                    </ng-template>

                    <!-- SHOW ERROR MESSAGE FOR PASSWORD CONFIRMED -->
                    <ng-template [ngIf]="input.isPasswordConfirmed">
                        <app-show-error-message [field]="input.name" [displayName]="input.displayName"
                            [group]="_formProfile">
                        </app-show-error-message>
                    </ng-template>
                </div>
            </ng-template>

            <!-- TEXTAREA TYPE-->
            <ng-template [ngSwitchCase]="'textarea'">
                <div [class]="getClass('textarea').containerClasses">
                    <ckeditor [editor]="_editor" [data]="_formProfile.controls[input.name].value" [id]="'_'+input.name"
                        (ready)="onReady($event)" (change)="onEditorChange($event)"> </ckeditor>
                    <app-show-error-message [displayName]="input.displayName"
                        [control]="_formProfile.controls[input.name]">
                    </app-show-error-message>
                </div>
            </ng-template>

            <!-- SELECT TYPE -->
            <ng-template [ngSwitchCase]="'select'">
                <div [class]="getClass('select').containerClasses">
                    <select [class]="getClass('select').classes" [id]="'_'+input.name" [formControlName]="input.name">
                        <option value="" disabled selected>{{getDefaultSelectContent(input.name) | ucfirst }}</option>

                        <!-- NORMAL -->
                        <ng-template [ngIf]="!input.isDbSelect">
                            <option *ngFor="let value of _helperService.getConf_selectData()[input.name]"
                                [value]="value">
                                {{_helperService.getConf_btnTemplate()[input.name][value].content}}
                            </option>
                        </ng-template>

                        <!-- DB SELECT -->
                        <ng-template [ngIf]="input.isDbSelect">
                            <option *ngFor="let item of getDbSelectData(input.name)" [value]="item.value">{{item.name}}
                            </option>
                        </ng-template>
                    </select>
                    <app-show-error-message [displayName]="input.displayName"
                        [control]="_formProfile.controls[input.name]">
                    </app-show-error-message>
                </div>
            </ng-template>

            <!-- FILE TYPE -->
            <ng-template [ngSwitchCase]="'file'">
                <div [class]="getClass('fileInput').containerClasses">
                    <div app-image-cropper-file-input [name]="input.name" [displayName]="input.displayName"
                        [controller]="_controller" [control]="_formProfile.controls[input.name]"
                        [croppedImageBehaviorSubject]="_croppedImageBehaviorSubject"> </div>

                    <!-- THUMB AVAILABLE -->
                    <p *ngIf="_currentItem.thumb" class="mt-5">
                        <img [src]="_currentItem.thumb" [alt]="input.displayName+' image'" class="img-fluid rounded">
                    </p>
                </div>
            </ng-template>

            <!-- SUBMIT TYPE -->
            <ng-template [ngSwitchCase]="'submit'">
                <input type="submit" [class]="getClass('submit').classes" [value]="input.displayName"
                    [disabled]="!isFormValid()">
            </ng-template>
        </div>
    </ng-template>
</form>